@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Rubik:wght@900&family=Titillium+Web:wght@400;600&display=swap');


/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Anonymous Pro', monospace;
*/

/* * {
    border: 1px solid red;
} */

:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    --swiper-theme-color: var(--accent) !important;
}
.visually-hidden {
    display: none;
}
.dark {
     /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);
    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Anonymous Pro', monospace;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.none {
    display: none !important;
}

.section {
    padding: 30px 15px;
}

.title-1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

/* Nav */
.nav__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--page-bg);
    color: var(--text-color);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--text-color);
    font-size: 24px;
    font-family: 'Anonymous Pro', monospace;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Anonymous Pro', monospace;
}

.nav-list__link {
    color: var(--text-color);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    color: var(--accent);
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Бургер */
.nav__toggle {
    display: none;
}
/* Dark mode btn */

.dark-mode-btn {
    order: 9;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 52px;
    height: 28px;
    padding: 5px;
    border-radius: 50px;
    background-color: #272727;
    border:1px solid var(--text-color);
}

.dark-mode-btn::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1.3px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);
    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 24px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

/* Header */

.header {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--page-bg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    color: var(--text-color);
    text-align: center;
    margin: auto;
}

.header__wrapper {
    padding: 0 15px;
    min-width: 610px;
    max-width: 768px;
    text-align: center;
}
.header__content {
    display: inline-block; /* Делаем обертку в виде блока с размером контента */
    text-align: left; /* Устанавливаем выравнивание текста внутри обертки слева */
}
.header__title {
    width: 48ch;
    margin:0 auto 20px auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    animation: printed-text 4s steps(21),
    flashing-border-top 0.5s step-end infinite,
    fading-border 0.75s 4s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid var(--accent);
    text-align: center;
}

.header__description {
    margin: 0 auto;
    width: 53ch;
    font-size: 20px;
    animation: printed-text-2 8s steps(53),
    flashing-border-bottom 0.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid var(--accent);
    visibility: hidden;
}

@keyframes printed-text {
    from {
        width: 0;
    }
    to {width: 100%;}
}

@keyframes printed-text-2 {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 100;}
}

@keyframes fading-border {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: transparent;
    }
}

@keyframes flashing-border-top {
    0%, 25% {
        border-color: transparent;
    }
    50% {
        border-color: var(--accent);
    }
    100% {
        border-color: transparent;
    }
}

@keyframes flashing-border-bottom {
    0% {
        border-color: transparent;
    }
    25% {
        border-color: transparent;
    }
    50% {
        border-color: var(--accent);
    }
    75% {
        border-color: var(--accent);
    }
    100% {
        border-color: transparent;
    }
}

.header__title strong {
    font-size: 40px;
    font-weight: 700;
}

.header__title em {
    font-size: 50px;
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p + p{
    margin-top: 0.5em;
}

/* Btn */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;

    border-radius: 5px;
    border: 1px solid var(--blackpure);
    background-color: var(--white);
    color: var(--blackpure);

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* Projects  */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
    height: auto;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.25);

}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
    margin-bottom: 25px;
}

/* Breadcrumb*/
.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
}
.breadcrumb__list {
    display: flex;
    font-size: 18px;
    max-width: 1200px;
    padding-left: 18px;
    margin: 0 auto;
}
.breadcrumb__item:not(:last-child) {
    margin-right: 10px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 500;
}
.breadcrumb__item a {
    color: var(--accent);
    text-decoration: none;
}

.breadcrumb__item:not(:first-child):before {
    padding: 8px;
    color: var(--accent);
    content: "/\00a0";
}

/* Project details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 20px 0 20px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

.social__item {
    width: 38px;
    height: 38px;
    transition: 0.1s; /* Время эффекта */
}

.social__item:hover {
        transform: scale(1.2); /* Увеличиваем масштаб */
}

/* Слайдер */

  .swiper{
    height: 100%;
    max-width: 1000px;
    padding-top: 7px !important;
  }

  .swiper-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide a{
    max-width: 70%;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 4px !important; 
    transition: 0.3s;
    top: 210px !important;
  }

  .swiper-button-next:hover {
    transform: scale(1.5);
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 4px !important; 
    transition: 0.3s;
    top: 210px !important;
  }

  .swiper-button-prev:hover {
    transform: scale(1.5);
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.3) !important;
    background-color: var(--accent) !important;
  }

  /* Skills */
    
  .section__certificate {
    max-width: 1170px;
    margin: 0 auto;
  }
  .section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
  }
  .section__img {
    max-height: 270px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
  }
  .section__img:hover {
    transform: scale(1.2);
  }
  .section__item:not(:last-child){
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .section__item:nth-child(5) {
    border: 1px solid var(--accent);
    border-radius: 6px;
  }

  .skills-slide {
    display: flex;
    animation: 35s slide infinite linear;
    margin-right: 50px;
    max-width: 1200px;
    padding: 0 15px;
  }
  .skills-slide img{
    height: 60px;
    margin-right: 50px;
  }

  .skills:hover .skills-slide {
    animation-play-state: paused;
  }
  .skills {
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
  }
  .skills:before,
  .skills:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--page-bg));
}

.skills:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--page-bg));
}
  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }
  .skills__wrapper {
    margin-bottom: 20px;
  }

  /* About*/
  .about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .about__wrapper {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .about__wrapper-bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--page-bg)
  );
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
  }
  .read-more-checker {
    opacity: 0;
    position: absolute;
  }
  .read-more-checker:checked ~ .about__wrapper {
    max-height: none;
    }
    .read-more-checker:checked ~ .about__wrapper .about__wrapper-bottom {
    opacity: 0;
    transition: 0.3s;
  }
  .read-more-checker ~ .read-more-button:before {
    content: "More »";
  }
  .read-more-checker:checked ~ .read-more-button:before {
    content: "Less «";
   }
  .read-more-button {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  color: var(--accent);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  margin-top: 15px;
  }
/* Стили для модального окна */
.section__modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#modalImage {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.button-close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.button-close::before,
.button-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: var(--white);
}

.button-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

  
/* Мобильная версия */

@media (max-width: 768px) {

    .logo {
        font-size: 20px;
    }
    /* Header  */

    .header {
        display: block;

    }
    .header__wrapper {
        min-width: 360px;
    }
    .header__lottie {
        width: 250px;
        margin: 0 auto;
    }
    .header__title {
        width: 100%;
    }
    .header__title em {
        font-size: 26px;
    }
    .header__description {
        font-size: 16px;
        width: 38ch;
        white-space: normal;
        border: none;
        margin-bottom: 20px;
    }
    .header__title strong {
        font-size: 24px;
    }

    /* Nav */

    .nav {
        min-width: 360px;
    }
    .nav-row {
        column-gap: 0;
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
        margin-right: 15px;
    }

    .nav-list__link--active::before {
        content: "";
    
        position: absolute;
        left: -11px;
        top: 35%;
    
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: var(--accent);
    }
    /* Бургер */
    .nav__toggle {
        display: block;
        width: 30px;
	    height: 30px;
	    position: relative;
	    z-index:2;
	    overflow: hidden;
    }

    .nav__toggle span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--text-color);
        transition: all 0.5s;
    }

    .nav__toggle span:nth-of-type(2) {
        top: calc(50% - 7px);
    }

    .nav__toggle span:nth-of-type(3) {
        top: calc(50% + 7px);
    }
    
    .nav__toggle.active span:nth-of-type(1) {
        display: none;
    }

    .nav__toggle.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }

    .nav__toggle.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .nav-list {
      display: none;
    }
    
    .nav-list.active {
        position: absolute;
        display: flex;
        flex-direction: column;
	    top: 75px;
	    right: 15px;
	    padding: 15px;
        background-color: var(--text-color);
	    transition: transform 2s;
        border-radius: 6px;
        z-index: 10;
    }
    .nav-list__link {
        color: var(--page-bg);
        font-size: 22px;
    } 
    
    /* Breadcrumb*/
    .breadcrumb__list {
        font-size: 14px;
    }

    /* General */

    .section {
        padding: 40px 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }
  
    /* Project page */
    
    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        min-width: 360px;
        padding: 20px 0 20px;
        margin-top: 0;
    }

    .footer__wrapper {
        row-gap: 15px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 38px;
        height: 38px;
        transition: 0.1s; 
    }

    .social__item:active {
        transform: scale(1.2); 
    }

    /* Слайдер */
    .swiper{
        max-width: 768px;
      }
    .social__item:hover {
        transform: scale(1); 
    }
    .swiper-button-next {
        --swiper-navigation-size:30px !important;
        top: 35% !important;
        right: 5px !important;
    }
    .swiper-button-prev {
        --swiper-navigation-size:30px !important;
        top: 35% !important;
        left: 5px !important;
    }
    .swiper-button-next:hover {
        transform: scale(1);
    }

    .swiper-button-next:active {
        transform: scale(1.5);
    }

    .swiper-button-prev:hover {
        transform: scale(1);
    }

    .swiper-button-prev:active {
        transform: scale(1.5);
    }
    
    /* Skills */

    .section__img {
        max-height: 135px;
        max-width: 165px;
        border-radius: 6px;
    }

    .skills-slide {
        max-width: 768px;
    }

    .skills:before,
    .skills:after {
     width: 80px;
    }

    .skills-slide img{
        height: 20px;
        margin-right: 25px;
    }
}

